

/* site layout */
.mdl-layout__content{
  background-image: url("/img/Mountains_Background.jpg");
  /* crops the image differently to landing page but I like the effect */
}



/* Nav Bar */
.header-color {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.4;
}
.header-title {
  text-decoration: none;
  color: white;
}
.header-title-drawer{
  text-decoration: none;
  color: black;
}



/* Landing Page */
.landing-grid {
  background-image: url("/img/Mountains_Background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1;
  text-align: center;
  position: fixed;
}

.banner-text {
  /* background-color: rgba(32, 58, 67, 0.58); */
  /* background-color: white; */
  opacity: 1;
  width: 900px;
  margin: auto;
  border-radius: 10px;
  margin-top: 90px;
  margin-right: 50px;
  padding: 22px;
}
.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
  color: black;
}
.banner-text h2 {
  font-size: 30px;
  margin-top: 0px;
  color: black;
}
.banner-text hr {
  border-top: 3px dotted black;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  color: black;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 3em;
  padding: 0px;
  color: black;
}




/* Resume Page */
.resume-right-col {
  background: #27221f;
  color: white; 
  padding: 2em;
}
.resume-col-content {
  text-align: center;
}
.resume-col-content img {
  height: 200px;
}
.resume-left-col h2 {
  padding-top: 2em;
}
.resume-col hr {
  color: grey;
  border-top: none;
  border-bottom: 3px solid #833fb2;
  width:50%;
}
.education-year h4, .experience-year h4 {
  margin-top: 0px;
}
.resume-skill-col{
  display: flex;
}
.resume-skill-col span {
  width: 100px;
}
.resume-skill-progress{
  margin: auto;
  width: 75%;
}



/* About Me Page */
.aboutme-background{
  background-image: url("/img/Me_autumn.jpg");
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.8;
  z-index:-1;
}
.aboutme-text{
  margin-top: 30%;
  margin-left: 10%;
  margin-right: 5%;
  text-align: center;
  opacity:1;
}
.aboutme-text h1{
  margin-bottom: 0px;
}
.aboutme-text p{
  font-size: 25px;
}



/* Projects Page */
.projects-background {
  background-image: url("/img/Mountains_Background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1;
  text-align: center;
  position: fixed;
}



/* Contact Page */

/* **REDO the whole content grid from scratch as there are a lot of unwanted inherited MDL styling** */

.content > div {
  display: flex;
}
.contact-body {
  /* margin: auto; */
  /* position: fixed; */
  /* width: 100%; */
  /* height: 100%; */
  justify-content: center;
  /* padding-top: 2em; */
}
.contact-body .contact-grid {
  text-align: center;
  justify-content: center;
  /* width: 70%; */
  /* border-radius: 10px; */
  background-color: rgba(255,255,255,0.5);
  color: black;
  /* margin-right: 30px; */
  /* margin-bottom: 20px; */
  opacity:0.8;
  /* padding-right:3rem; */
}
.contact-grid h2{
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}
.contact-grid p{
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.contact-grid img{
  padding: 50px;
  padding-left: 0px;
  padding-right: 400px;
}
.contact-grid hr{
  border-top: 3px dotted black;
  width: 50%;
  margin: auto;
}
.contact-grid .mdl-list__item {
  color:black;
  font-size: 20px;
  font-family: 'Helvetica';
  font-weight: bold;
  padding: 1rem;
}
.contact-list i{
  font-size: 30px;
  padding-right: 1.5rem;
}
.contact-list a{
  color:black;
  font-family: 'Helvetica';
  font-weight: bold;
  padding-bottom: 3rem;
}





/* Responsive Design */
@media (max-width: 576px) {
  .mdl-layout .mdl-grid {
    padding: 0px;
  }
  .banner-text {
    width: 70%;
  }
  .banner-text h1{
    font-size: 26px;
  }
  .banner-text p{
    font-size: 15px;
    padding: 0em;
  }
  .social-links i{
    font-size: 2em;
    padding:  0em;
  }
}



