/* Body */
body h1 {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
body h1, body h2, body h3, body h4, body p, body span, body div, body a {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
}


/* Nav Bar */
header.header-color {
  background: none;
  background-color: rgba(0,0,0,0.05);
  opacity: 1;
  /* background: #0F2027;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* opacity: 0.4; */
}
.header-title {
  text-decoration: none;
  color: black;
  letter-spacing: 0px;
}
a.header-title:hover{
  color: #b88778;
}
.header-title-drawer{
  text-decoration: none;
  color: black;
}
.mdl-layout .mdl-navigation a {
  color: #555;
  text-transform: uppercase;
}
.mdl-layout .mdl-navigation a:hover {
  color: #b88778;
  text-transform: uppercase;
}
.material-icons {
  color: black;
}



/* Landing Page */
.landing-grid {
  filter: saturate(1);
  background-image: url("/img/Background_Mountains_muted.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1;
  text-align: center;
}
.banner-text {
  text-align: right;
  /* background-color: rgba(32, 58, 67, 0.58); */
  /* background-color: white; */
  opacity: 1;
  width: 900px;
  margin: auto;
  border-radius: 10px;
  margin-top: 90px;
  margin-right: 50px;
  padding: 22px;
}
.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 15px;
  color: black;
  font-weight: 100;
  font-size: 71px;
}
.banner-text h2 {
  font-size: 30px;
  margin-top: 0px;
  color: #222;
  margin-bottom: 0px;
}
.banner-text hr {
  border-top: 3px dotted black;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  color: black;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16px;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 175px;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 3em;
  padding: 0px;
  color: black;
}




/* Resume Page */
.mdl-layout__content{
  height:100%;
}

.mdl-grid.resume-grid{
  /* filter: saturate(1); */
  background-image: url("/img/Background_Mountains_muted.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity:0.8;
  z-index: -1;
  padding: 0px;
}
.resume-grid .resume-left-col{
  height: 29%;
  padding: 4em;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  background-color: rgb(255,255,255,0.5);
  opacity: 0.8;
  margin-top: 64px;
  border-radius: 3px;
}
.resume-grid .resume-right-col {
  background: rgb(0,0,0,0.8);
  color: white; 
  padding: 4em;
  padding-top: 1em;
  margin-top: 64px;
  overflow-y: scroll;
  height: calc(100% - 66px);
}
.resume-grid .resume-left-col h2{
  margin-top: 2px;
  margin-bottom: 20px;
}
.resume-col-content {
  text-align: center;
}
.resume-col hr {
  color: grey;
  border-top: none;
  border-bottom: 1.5px solid rgb(70, 85, 88);
  width:64%;
  margin-top:0.5em;
}
.education-year h4, .experience-year h4 {
  margin-top: 0px;
}
.resume-skill-col{
  display: flex;
}
.resume-skill-col span {
  width: 100px;
}
.resume-skill-progress{
  margin: auto;
  width: 75%;
}



/* About Me Page */
.aboutme-background{
  background-image: url("/img/Me_autumn.jpg");
  background-size: cover;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.8;
  z-index:-1;
}
.aboutme-text{
  margin-top: 30%;
  margin-left: 10%;
  margin-right: 5%;
  text-align: center;
  opacity:1;
}
.aboutme-text h1{
  margin-bottom: 0px;
}
.aboutme-text p{
  font-size: 25px;
}



/* Projects Page */
.project-background {
  display:flex;
  background-image: url("/img/Mountains_Background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1;
  text-align: center;
  position: fixed;
}



/* Contact Page */
.contact-background{
  background-image: url("/img/Background_Mountains_muted.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  z-index: -1;
}
.contact-container{
  background-color: rgb(255,255,255,0.5);
  width:100%;
}
.contact-content{
  text-align: right;
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 64px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.contact-content h1{
  text-align:right;
  margin-bottom:0em;
  margin-top: 0em;
}
.contact-content hr{
  border-top: 2px solid rgb(0,0,0,0.8);
  width:277px;
  text-align: right;
  margin-right:0em;
  margin-left:auto;
  padding-bottom:1em;
}
.contact-content h4 {
  margin-top: 1em;
}







/* Responsive Design */
@media (max-width: 576px) {
  .mdl-layout .mdl-grid {
    padding: 0px;
  }
  .banner-text {
    width: 70%;
  }
  .banner-text h1{
    font-size: 26px;
  }
  .banner-text p{
    font-size: 15px;
    padding: 0em;
  }
  .social-links i{
    font-size: 2em;
    padding:  0em;
  }
}



